.container-botones{
	display: flex;
	justify-content:center;
	margin:20px;
}


button {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  margin: 30px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fc0303;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fc0303;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.titulo{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: inherit;
  margin: 30px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.titulo:focus,
.titulo:hover {
  color: #fc0303;
}

.titulo::after{
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fc0303;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



.texto{
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  font-weight: lighter;
  font-size: 20px;
}

.ig{
  height: 300px;
  float: left;
  margin-left: 15%;
  margin-bottom: 100PX;
}

.cuadro-amarillo {
  margin-left: 70px;
  margin-right: 70px;
  border: 4px solid red;
  margin-bottom: 100px;
  margin-top: 50px;
}

.cuadro-amarillo h2 {
  background-color: red; /* Fondo amarillo */
  margin-top: 0;
  padding: 20px; /* Espacio interior */
  justify-content: center;
  display: flex;
}

.cuadro-amarillo li{
  list-style-type: none;
}

.fila {
  justify-content: center;
  display: flex; /* Alinea las imágenes horizontalmente */
  margin-bottom: 20px; /* Añade espacio entre las filas */
}

.fila img {
  width: 20%; /* Ajusta el ancho de las imágenes */
  height: auto;
  margin-left: 90px;
  margin-right: 90px;
}

.fila1 {
  justify-content: center;
  display: flex; /* Alinea las imágenes horizontalmente */
  margin-bottom: 20px; /* Añade espacio entre las filas */
}

.fila1 img {
  width: 200px; /* Ajusta el ancho de las imágenes */
  height: auto;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 90px;
  margin-top: 40px;
}





.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  margin-right: 30px;
}

.footer-section.about {
  order: 1;
  width: 40%; /* Ajusta este valor según tus necesidades */
}

.footer-section.links {
  order: 2;
  align-self: flex-start;
  margin-left: auto;
  width: 20%; /* Ajusta este valor según tus necesidades */
}



.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.social a {
  color: #fff;
  font-size: 1.2em;
  margin-right: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.links ul li a:hover {
  color: blue;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
}
